<div class="row justify-content-center mt-4">
    <h2>Profil Admin</h2>
</div>
<hr>
<div class="row justify-content-center mt-4">
  <table class="table table-borderless" id="myTable">
    <thead class="table">
          <tr>
            <th style="width: 100px;" scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <th scope="row"></th>
              <td><h5>Nama</h5></td>
              <td><%= profil.nama%></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td><h5>Telepon</h5></td>
              <td><%= profil.telepon%></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td><h5>Tanggal Lahir</h5></td>
              <td><%= profil.tanggal_lahir %></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td><h5>Alamat</h5></td>
              <td><%= profil.alamat %></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td><h5>Email</h5></td>
              <td><%= profil.email %></td>
            </tr>
          </tbody>
      </table>
</div>
<div class="row">
    <a href="/admin/profil/edit" class="btn btn-primary">Edit Profil</a>
</div>